@model BookingPolicyDto
@{
    ViewData["Title"] = "Booking Policy";
}
<h2 class="mb-3"><i class="bi bi-shield-check"></i> Booking Policy</h2>
<partial name="_ValidationSummary" />
<form method="post" class="row g-3 mt-2">
    <input type="hidden" asp-for="Id" />
    <div class="col-md-3">
        <div class="form-floating">
            <input asp-for="AcDeposit" class="form-control" />
            <label asp-for="AcDeposit"></label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-floating">
            <input asp-for="DcDeposit" class="form-control" />
            <label asp-for="DcDeposit"></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-floating">
            <input asp-for="HoldMinutes" class="form-control" />
            <label asp-for="HoldMinutes"></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-floating">
            <input asp-for="CancelFullRefundMinutes" class="form-control" />
            <label asp-for="CancelFullRefundMinutes"></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-floating">
            <input asp-for="CancelPartialRefundMinutes" class="form-control" />
            <label asp-for="CancelPartialRefundMinutes"></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-floating">
            <input asp-for="NoShowPenaltyPercent" class="form-control" />
            <label asp-for="NoShowPenaltyPercent"></label>
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary"><i class="bi bi-save"></i> Save</button>
    </div>
</form>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}