@model StationUpsertDto
<div class="row g-3">
    <div class="col-md-4">
        <div class="form-floating">
            <input asp-for="Code" class="form-control" placeholder="Code" />
            <label asp-for="Code"></label>
        </div>
        <span asp-validation-for="Code" class="text-danger small"></span>
    </div>
    <div class="col-md-8">
        <div class="form-floating">
            <input asp-for="Name" class="form-control" placeholder="Name" />
            <label asp-for="Name"></label>
        </div>
        <span asp-validation-for="Name" class="text-danger small"></span>
    </div>
    <div class="col-md-12">
        <div class="form-floating">
            <input asp-for="Address" class="form-control" placeholder="Address" />
            <label asp-for="Address"></label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-floating">
            <input asp-for="City" class="form-control" placeholder="City" />
            <label asp-for="City"></label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-floating">
            <input asp-for="TimezoneId" class="form-control" placeholder="Asia/Ho_Chi_Minh" />
            <label asp-for="TimezoneId"></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-floating">
            <input asp-for="OpenHour" class="form-control" placeholder="08:00" />
            <label asp-for="OpenHour"></label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-floating">
            <input asp-for="CloseHour" class="form-control" placeholder="22:00" />
            <label asp-for="CloseHour"></label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-floating">
            <input asp-for="Latitude" class="form-control" placeholder="Latitude" />
            <label asp-for="Latitude"></label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-floating">
            <input asp-for="Longitude" class="form-control" placeholder="Longitude" />
            <label asp-for="Longitude"></label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-floating">
            <select asp-for="Status" asp-items="Html.GetEnumSelectList<EVCS.Models.Enums.StationStatus>()" class="form-select"></select>
            <label asp-for="Status"></label>
        </div>
    </div>
    <input type="hidden" asp-for="RowVersion" />
</div>